:root {
    --color-departures: steelblue;
    --color-arrivals: darkorange;
}

html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#map {
  width: 100%; 
  height: 100%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

circle {
    pointer-events: auto;
 
    --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
    );
    fill: var(--color);
}
.legend {
    display: flex;
    gap: 1px;
    width: 100%;
}

.legend > div {
    --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
    );

    background-color: var(--color);

    flex: 1;
    text-align: center;
    font-weight: bold;
    color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    align-items: baseline;
    margin-left: auto;
}

time, em {
    display: block;
}

em {
    color: #777676;
    font-style: italic;
}

#time-slider {
    width:250px;
}


